/* Home.module.css */

/* Main container for the app, centers content vertically and horizontally */
.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #E0FFFF; /* Light sky blue background */
  padding: 10px; /* Adds padding around the entire container for smaller screens */
}

/* Styles for the main header/title of the page */
.headerTitle {
  margin-bottom: 20px; /* Space between the title and content below */
  text-align: center; /* Centers the title text */
  font-family: 'Orbitron', sans-serif; /* Sci-fi themed font for aesthetic */
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300))); /* Responsive font size */
}

/* Container for the 3D canvas element */
.canvasWrapper {
  margin: 20px; /* Space around the canvas container */
  width: 60vw; /* Responsive width, 60% of the viewport width */
  height: 60vw; /* Maintains aspect ratio, making it square */
  max-width: 400px; /* Limits the maximum size */
  max-height: 400px;
  display: flex; /* Centers the canvas element within the wrapper */
  justify-content: center;
  align-items: center;
}

/* Styles for the subtitle/header beneath the main title */
.headerSubtitle {
  margin-top: 20px; /* Space above the subtitle */
  text-align: center; /* Centers the subtitle text */
  font-family: 'Orbitron', sans-serif; /* Consistent font with the title */
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300))); /* Responsive font size */
}

/* General padding adjustment for content below the navbar */
.page-content {
  padding-top: 56px; /* Compensates for navbar height, ensuring content starts below it */
}

/* Tablet and below specific adjustments */
@media (max-width: 768px) {
  .page-content {
    padding-top: 75px; /* Increased top padding to accommodate an expanded navbar */
  }

  .canvasWrapper {
    width: 80vw;
    height: 80vw; /* Increases size for better visibility on smaller screens */
  }
}

/* Mobile and small device specific adjustments */
@media (max-width: 480px) {
  .page-content {
    padding-top: 100px; /* Further increased padding for navbar on very small screens */
  }

  .headerTitle {
    font-size: 18px; /* Larger font size for better readability on small screens */
  }

  .headerSubtitle {
    font-size: 14px; /* Adjusted for clarity on small devices */
  }

  .canvasWrapper {
    width: 90vw;
    height: 90vw; /* Maximizes canvas size for small screen real estate */
  }
}
