
* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E0FFFF; /*Light sky blue background */
}


/* Styles specific to the Home component */
.home {
  text-align: center;
  padding: 20px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Space between logos */
}

.logo {
  cursor: pointer; /* Indicates clickable items */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.logo:hover {
  transform: scale(1.1); /* Slightly enlarge logos on hover */
}

/* Cube Styles */
.scene {
  width: 200px;
  height: 200px;
  margin: 2rem auto; /* Centers the cube and adds vertical space */
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

/* Dynamically add 'show-*' classes in  React component based on state or props */
.cube.show-front { transform: translateZ(-100px) rotateY(0deg); }
.cube.show-right { transform: translateZ(-100px) rotateY(-90deg); }
.cube.show-back { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left { transform: translateZ(-100px) rotateY(90deg); }
.cube.show-top { transform: translateZ(-100px) rotateX(-90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(90deg); }

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Color adjustments for cube faces */
.cube__face--front { background: hsla(0, 100%, 50%, 0.7); }
.cube__face--right { background: hsla(60, 100%, 50%, 0.7); }
.cube__face--back { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

/* Positioning cube faces */
.cube__face--front { transform: rotateY(0deg) translateZ(100px); }
.cube__face--right { transform: rotateY(90deg) translateZ(100px); }
.cube__face--back { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top { transform: rotateX(90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

/* Additional styles for instructional text */
.instruction {
  margin-top: 20px;
  font-size: 16px;
}
