/* Web3Stories.module.css */
.web3Stories {
    padding: 20px;
    background-color: #E0FFFF;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
  }

.storiesList {
  margin-top: 20px;
}

.story {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.story h2 {
  color: #333333;
}

.story p {
  color: #666666;
}
